{% extends '@Iconic/full-screen-form.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'registration.title' | trans }}
{% endblock %}

{% block form %}
    {{ form(registrationForm) }}
    <a href="{{ path("app_login") }}" class="btn text-secondary btn-outline-primary w-100">
        {{ 'registration.label.login' | trans }}
    </a>
    {% include '@Iconic/partials/languages.html.twig' with {'linkclass': 'btn flag w-100 mb-2 mt-2'} %}
{% endblock %}